page-crea-mascota {

   .circle-pic{
       -webkit-border-radius: 50%;
       border-radius: 50%;
   }

   .actionButton{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .labelAddPet{
        color: #fff;
        font-size: 30px;
    }

    .inputAddPet{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    

    .closeButtonAddPet{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 45px;
    }

    .mainScroll{
        background-color: #16254c;
    }

    .loginButton{
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
    }
    

}
